.container {
  max-width: 1770px;
  font-family: "Josefin Sans", sans-serif;
  background-color: darkseagreen;
}

.header__main {
  height: 60vh;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__main h1,
.header__main h3,
.header__main .scroll {
  color: #ffffff;
}
.header__main .searchbar {
  width: 560px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5474fd;
}